{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}

{% block title %}
Home
{% endblock %}
{% block content %}

<div class="container-fluid">

  <div>
    <div class="card p-3">
      <div class="row">
        <div class="col">
          <div>
            <iframe id="player" width="100%" height="315" src="https://www.youtube.com/embed/XXoT_t3nDvU"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>

        <div class="col-3">
          <ul class="list-group">

            <li class="list-group-item disabled" aria-disabled="true">Lectures</li>
          </ul>

          {% for video in course.video_set.all %}
          <div>
            <ul class="list-group" id="video-list">
              <li class="list-group-item "><a href="#">{{video}}</a></li>
              <li class="list-group-item "><a href="#">{{video}}</a></li>
              <li class="list-group-item "><a href="#">{{video}}</a></li>
              <li class="list-group-item "><a href="#">{{video}}</a></li>
              <li class="list-group-item "><a href="#">{{video}}</a></li>
              <li class="list-group-item "><a href="#">{{video}}</a></li>
              <li class="list-group-item "><a href="#">{{video}}</a></li>
              <li class="list-group-item "><a href="#">{{video}}</a></li>
              <li class="list-group-item "><a href="#">{{video}}</a></li>
            </ul>
            
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
    <div class="col-mt-3">
      <div class="card">
        <!-- <img src="{{course.thumbnail.url}}" class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">{{course.name}}</h5>
          <p class="card-text">{{course.description}}</p>

        </div>
      </div>
    </div>
    <div class="col-mt-3">
      <div class="card">
        <!-- <img src="{{course.thumbnail.url}}" class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">Prerequisite</h5>
          <p class="card-text">
            {% for pre in course.prerequisite_set.all %}
            <li class="">{{pre.description}}</li>
            {% endfor %}
          </p>


        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-mt-3">
  <div class="card">
    <!-- <img src="{{course.thumbnail.url}}" class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h5 class="card-title">Learnings</h5>
      <p class="card-text">
        {% for l in course.learning_set.all %}
        <li class="">{{l.description}}</li>
        {% endfor %}
      </p>


    </div>
  </div>
</div>
<script src="{% static 'teachapp/js/course_page.js' %}">

</script>
<link rel="stylesheet" href="{% static 'teachapp/css/scrollbar.css' %}">

{% endblock %}